<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Check Out - Floral Template</title>
    <% include element/head %>
</head>

<body>
    <div id="templatemo_wrapper_sp">
        <div id="templatemo_header_wsp">
            <div id="templatemo_header" class="header_subpage">
                <% include element/menu %>
            </div> <!-- END of header -->
        </div> <!-- END of header wrapper -->
        <div id="templatemo_main_wrapper">
            <div id="templatemo_main">
                <% include element/sidebar %>
                <div id="content" class="right">
                    <h2>Checkout</h2>
                    <h3>BILLING DETAILS</h3>
                    <form action="/checkout" method="POST">
                        <div class="content_half left form_field">
                            Full Name
                            <input name="fullname" type="text" id="fullname" maxlength="40" required />
                        </div>
                        <div class="content_half right form_field">
                            Address:
                            <input name="address" type="text" id="address" maxlength="40" required />
                            City:
                            <input name="city" type="text" id="city" maxlength="40" />
                        </div>
                        <div class="cleaner h40"></div>
                        <input type="submit" value="Đặt hàng" /><br /><br />
                    </form>
                    <p><a href="#"><img src="images/flagship.jpg" alt="Flagship" align="middle" /></a>&nbsp;(free
                        shipping for orders above $500)</p>
                    <div class="blank_box">
                        <a href="#"><img src="images/free_shipping.jpg" alt="Free Shipping" /></a>
                    </div>
                </div>
                <div class="cleaner"></div>
            </div> <!-- END of main -->
        </div> <!-- END of main wrapper -->
        <% include element/footer %>
    </div>
</body>

</html>