<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Account - Floral Template</title>
    <% include element/head %>
</head>

<body>
    <div id="templatemo_wrapper_sp">
        <div id="templatemo_header_wsp">
            <div id="templatemo_header" class="header_subpage">
                <% include element/menu %>
            </div> <!-- END of header -->
        </div> <!-- END of header wrapper -->
        <div id="templatemo_main_wrapper">
            <div id="templatemo_main">
                <% include element/sidebar %>
                <div id="content" class="right">
                    <h2>Account</h2>
                    <h3>Log in</h3>
                    <form action="/users/login" method="POST" role='form'>
                        <div class="content_half left form_field">
                            Username:
                            <input name="username" type="text" id="username" required />
                            <br><br>
                        </div>
                        <div class="content_half right form_field">
                            Password:
                            <input name="password" type="password" id="password" required />
                            <br><br>
                        </div>
                        <input type="submit" value="Log In" />
                    </form>
                    <br>
                    <% if(hasErrors) { %>
                    <div class="alert alert-danger">
                        <% messages.forEach(function(message){ %>
                        <h5 style="color:red"><%=  message %></h5>
                        <% })%>
                    </div>
                    <% } %>
                    <br><br><br>
                    <div class="blank_box">
                        <a href="#"><img src="images/free_shipping.jpg" alt="Free Shipping" /></a>
                    </div>
                </div>
                <div class="cleaner"></div>
            </div> <!-- END of main -->
        </div> <!-- END of main wrapper -->
        <% include element/footer %>
    </div>
</body>
</html>