<div id="sidebar" class="left">
    <div class="sidebar_box"><span class="bottom"></span>
        <h3>Phân loại</h3>
        <div class="content">
            <ul class="sidebar_list">
                <li><a href="../products/hoa/0">Hoa</a></li>
                <li><a href="../products/caykieng/0">Cây kiểng</a></li>
                <li><a href="../products/raumam/0">Rau mầm</a></li>
                <li><a href="../products/rauxanh/0">Rau xanh</a></li>
                <li><a href="../products/cu/0">Củ</a></li>
                <li><a href="../products/duoclieu/0">Dược liệu</a></li>
                <div class="dropdown">
                    <li><a href="">Sắp xếp theo</a></li>
                    <div class="dropdown-content">
                        <a href="../products/sort_name/0">tên</a>
                        <a href="../products/sort_price/0">giá</a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <div class="sidebar_box"><span class="bottom"></span>
        <h3>Top</h3>
        <div class="content">
            <ul class="sidebar_list">
                <li><a href="#">Sản phẩm phổ biến</a></li>
            </ul>
        </div>
    </div>
    <div class="sidebar_box"><span class="bottom"></span>
        <h3>Weekly Special</h3>
        <div class="content special">
            <ul class="sidebar_list">
                <li><a href="#">giảm giá, khuyến mãi</a></li>
                <li><a href="#">quà tặng</a></li>
            </ul>
        </div>
    </div>
</div>